<ion-tabs>

  <ion-tab-bar slot="bottom" color="var(--ion-color-primary-shade)">
    <ion-tab-button tab="product-list" class="tabbtn">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Product List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add-product" class="tabbtn">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Add Product</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>-->
  </ion-tab-bar>

</ion-tabs>
