.ion-content-desktop {
    --padding-top: 10%;
    --padding-start: 10%;
    --padding-end: 10%;
}

.ion-content-mobile {
    --padding-top: 40%;
    --padding-start: 10%;
    --padding-end: 10%;
}

.control-group {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

.product-list {
    background-color: transparent;
}


.del-all {
    border-radius: 5px;
}

.top-div {
    width: 100%;
}

ion-item {
    --border-color: var(--ion-color-secondary);
    border-radius: 5px;
}

ion-searchbar {
    --cancel-button-color: var(--ion-color-secondary);
    --clear-button-color: var(--ion-color-secondary);
    --icon-color: var(--ion-color-secondary);
    --background: var(--ion-color-tertiary);
}

ion-card {
    padding: 1%;
}