.ion-content-desktop {
    --padding-top: 10%;
    --padding-start: 10%;
    --padding-end: 10%;
}

.control-group {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    
}

.product-list {
    background-color: transparent;
}


.del-all {
    border-radius: 3px;
}

.top-div {
    width: 100%;
}