

.ion-content-mobile {
    --padding-start: 10%;
    --padding-end: 10%;
    --padding-top: 40%;
}

.ion-content-desktop {
    --padding-start: 10%;
    --padding-end: 10%;
    --padding-top: 3%;
}

.svg {
    background-image: url(../../images/graduation.svg);
    width: 100%;
    background-size: cover;
    background-position: center bottom; /* First value is from left and second is from top. You can use use number as well*/
    background-repeat:no-repeat;
    height: 45%;
}

.svg-mobile{
    height: 40%;
    background-image: url(../../images/floating.svg);
    width: 100%;
    background-size: cover;
    background-position: center bottom; /* First value is from left and second is from top. You can use use number as well*/
    background-repeat:no-repeat;
}

.input-group {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}
 
.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}