ion-content {
    --background : linear-gradient(to bottom, var(--ion-color-secondary), var(--ion-color-tertiary));
}


ion-slides {
    height: 100%;
    --bullet-background-active: #fff;
    --bullet-background: #000;
}

.image {
    width: 50%;
    height: auto;
}

a {
    color: var(--ion-color-light);
}