<ion-content>
  <ion-slides pager="true">
 
    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <div class="image"></div>
        <h1>Hey there!</h1>
        <p>This is an awesome app that let you track your favourite amazon products...</p>
        <ion-button (click)="next()" fill="solid" color="secondary">Next</ion-button>
      </ion-text>
    </ion-slide>
 
    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <h1>Enter the code and get notified via e-mail</h1>
        <p>Just get the ASIN or the ISBN10, register the product and let us do the rest!</p>
        <ion-button (click)="next()" fill="solid" color="secondary">Next</ion-button>
      </ion-text>
    </ion-slide>

    <!-- Slide 3 -->
    <ion-slide>
      <ion-text color="light">
        <h1>Where do you find them?</h1>
        <p>Follow <a href="https://amazon-affiliate.eu/it/numero-identificativo-standard-amazon-asin/" target="_blank">THIS</a> simple instructions</p>
        <ion-button (click)="start()" fill="solid" color="secondary">Start</ion-button>
      </ion-text>
    </ion-slide>
 
  </ion-slides>
</ion-content>